.md .note {
  border-radius: .1875rem;
  margin: 1rem 0;
  padding: 1rem;
  position: relative;

  background: var(--note-bg, var(--grey-2));
  color: var(--grey-6);
  border-left: .25rem solid var(--note-border, var(--grey-4));

  font-size: $font-size-small;

  padding-left: 2.5rem;

  --primary-color: var(--note-text);

  &::before {
    position: absolute;
    left: .5rem;
    top: calc(50% - 1.5rem);
    @include font-family-icons;
    font-size: 1.5rem;
    color: var(--note-text, var(--grey-6));
  }

  &.default {
    &::before {
      content: "\ef23";
    }
  }

  &.primary {
    &::before {
      content: "\f082";
    }
  }

  &.info {
    &::before {
      content: "\f02b";
    }
  }

  &.success {
    &::before {
      content: "\ef66";
    }

  }

  &.warning {
    &::before {
      content: "\efb5";
    }
  }

  &.danger {
    &::before {
      content: "\f050";
    }
  }

  &.no-icon {
    &::before {
      content: none;
    }

    padding-left: 1rem;
  }
}
