::-webkit-scrollbar {
  width: .3125rem;
  height: .3125rem;
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-track {
  border-radius: .3125rem;
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-track-piece {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-button {
  background: transparent;
  height: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 1.25rem;
  background-clip: padding-box;
  background-color: var(--scrollbar-thumb);
  border: .0625rem solid transparent;

  &:hover {
    background-color: var(--scrollbar-thumb-hover);
  }
}

%big-scrollbar {
  &::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
  }
}
